<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../style.com">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <!-- Bootstrap core CSS -->


    <!-- Custom styles for this template -->
<style>
body {
  background-image: url("../static/img/pt4.jpg");
}

</style>
  </head>

<body class="bg-light">
 <nav class="navbar navbar-expand-md bg-transparent navbar-dark">
  <a class="navbar-brand " href="index.html"> <img src="../static/img/Logo_for_LIGHT_Background.png" alt="Logo" style="width:120px; text-align:center"></a>
  </nav>

    <div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1>Patient History</h1>
  </div>
  <a href="{{url_for('drop_session')}}">log out</a>
  <div class="row">
       <div class="col-md-8 order-md-1">
      <h3 class="mb-3">General Information</h3>
         <form action="/report" method="post">
          <div class="container" style="  margin-bottom: 5vw;
            padding: 20px;
            max-width: 1100px;
            height: 100%;
            background-color: rgb(150, 225, 225);
            border-radius: 20px;">
 <div class="table-responsive">
  <table class="table table-hover table-bordered table-striped table-light">
    <thead>
      <tr class="row">
        <th class="col" style="text-align: center;width: 400px">Patient Name</th>
        <th class="col" style="text-align: center;width: 400px">Patient ID</th>
	    <th class="col" style="text-align: center;width: 400px">Gender</th>
      </tr>
    </thead>
    <tbody>
       <tr class="row">
        <td class="col" style="text-align: center">{{pHistory[0]}}</td>
        <td class="col" style="text-align: center">{{pHistory[1]}}</td>
	    <td class="col" style="text-align: center">{{pHistory[4]}}</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="table-responsive">
  <table class="table table-hover table-bordered table-striped table-light">
    <thead>
      <tr class="row">
        <th class="col" style="text-align: center;width: 400px">Date of Birth</th>
	    <th class="col" style="text-align: center;width: 400px">CNIC</th>
	    <th class="col" style="text-align: center;width: 400px">Email</th>

      </tr>
    </thead>
    <tbody>
       <tr class="row">
        <td class="col" style="text-align: center">{{pHistory[2]}}</td>
        <td class="col" style="text-align: center">{{pHistory[3]}}</td>
	    <td class="col" style="text-align: center">{{pHistory[10]}}</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="table-responsive">
  <table class="table table-hover table-bordered table-striped table-light">
    <thead>
      <tr class="row">
        <th class="col" style="text-align: center;width: 400px">Address No</th>
        <th class="col" style="text-align: center;width: 400px">Street No</th>
	    <th class="col" style="text-align: center;width: 400px">Phone No</th>
      </tr>
    </thead>
    <tbody>
       <tr class="row">
        <td class="col" style="text-align: center">{{pHistory[9]}}</td>
        <td class="col" style="text-align: center">{{pHistory[8]}}</td>
	    <td class="col" style="text-align: center">{{pHistory[12]}}</td>
      </tr>
    </tbody>
  </table>
  </div>


  <div class="table-responsive">
  <table class="table table-hover table-bordered table-striped table-light">
    <thead>
      <tr class="row">
        <th class="col" style="text-align: center;width: 400px">Country</th>
        <th class="col" style="text-align: center;width: 400px">City</th>
	    <th class="col" style="text-align: center;width: 400px">State</th>

      </tr>
    </thead>
    <tbody>
       <tr class="row">
        <td class="col" style="text-align: center">{{pHistory[5]}}</td>
        <td class="col" style="text-align: center">{{pHistory[6]}}</td>
	    <td class="col" style="text-align: center">{{pHistory[7]}}</td>
      </tr>
    </tbody>
  </table>
  </div>


</div>


         <h2 class="mb-3"><b>To Check Report</b></h2>
         <div class="form-group">
         <input type="submit" value="My Reports" class="btn btn-primary">
         </div>

      </form>
    </div>
  </div>
</div>


<style>
.footer {
  position:;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: blaack;
  text-align: center;
}
</style>
<div class="footer">
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 1998-2020 Lab Engine</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
<script src="js/bootstrap.min.js"></script>


</body>
</html>
